@import '../../../theme';

.test {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapTitle {
    font-family: $font;
    position: absolute;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0px 1em;
    z-index: 2;
    top: 0;
}